@model ProjetBD.ExamenParticulier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExamenParticulier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emploi.idProfession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emploi.idProfession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Examen.idExamen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examen.idExamen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idExamenParticulier }) |
    @Html.ActionLink("Back to List", "Index")
</p>
