@model ProjetBD.Ris_Exa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ris_Exa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Examen.idExamen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examen.idExamen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Risque.idRisque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Risque.idRisque)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idRisqueExamen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
