@model ProjetBD.Examen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Examen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.periodicite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodicite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prixSoumis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prixSoumis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prixNonSoumis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prixNonSoumis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.compteProduit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compteProduit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idExamen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
