@model IEnumerable<ProjetBD.Examen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.periodicite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prixSoumis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prixNonSoumis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compteProduit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.periodicite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prixSoumis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prixNonSoumis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compteProduit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idExamen }) |
            @Html.ActionLink("Details", "Details", new { id=item.idExamen }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idExamen })
        </td>
    </tr>
}

</table>
