@model ProjetBD.Emploi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emploi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date d'entrée
            @*@Html.DisplayNameFor(model => model.dateEntree)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateEntree)
        </dd>

        <dt>
            Date de sortie
            @*@Html.DisplayNameFor(model => model.dateSortie)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateSortie)
        </dd>

        <dt>
            Soumis
            @*@Html.DisplayNameFor(model => model.type)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Entreprise.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entreprise.nom)
        </dd>*@

        <dt>
            @*@Html.DisplayNameFor(model => model.Profession.idProfession)*@
            Profession
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession.Lan_Prof.First(p => p.idProfession.Equals(model.idProfession) && p.idLangue == 1).texte)
        </dd>

        <dt>
            Travailleur
            @*@Html.DisplayNameFor(model => model.Travailleur.nom)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfoEmploi)
        </dd>

        <dt>
            Risques 
        </dt>

        <dd>
            @Html.ListBoxFor(model => model.LabelsRisques, null, new { @style = "width: 240px; height: 140px;" })
        </dd>

        <dt>
            Examens particuliers
        </dt>

        <dd>
            @Html.ListBoxFor(model => model.LabelsExamens, null, new { @style = "width: 240px; height: 140px;"})
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.idEmploi }) |*@
    @Html.ActionLink("Retour à la liste", "Index")
</p>
