@model IEnumerable<ProjetBD.Risque_TravSoumis>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emploi.idProfession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Risque.idRisque)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emploi.idProfession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Risque.idRisque)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idExamenSoumis }) |
            @Html.ActionLink("Details", "Details", new { id=item.idExamenSoumis }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idExamenSoumis })
        </td>
    </tr>
}

</table>
